<p class="bg-info" ng-show="agilecrmCtrl.message">
  {{ agilecrmCtrl.message }}
</p>

<form>
  <label>Email</label>: <input type="text" name="email" ng-model="agilecrmCtrl.email"><br>
  <button class="btn btn-success btn-sm" ng-click="agilecrmCtrl.doSetEmail()">Do _agile.set_email</button>
  <button class="btn btn-success btn-sm" ng-click="agilecrmCtrl.doSetEmailAndPageView()">Do _agile.set_email and _agile.track_page_view</button>
  <button class="btn btn-success btn-sm" ng-click="agilecrmCtrl.doCreateContact()">Do _agile.create_contact</button>
  <button class="btn btn-success btn-sm" ng-click="agilecrmCtrl.doGetEmail()">Do _agile.get_email</button>
</form>

